.checkoutPayment{ 
    padding: 30px 10px 50px 10px;
    .contact-info { 
        padding: 10px 15px;
        text-transform: none;
        font-weight: 400 !important;
        span { 
            padding-left: 10px;
        }
        a { 
            float: right;
            line-height: 18px;
        }
        > div { 
            padding-top: 8px;
            @media (max-width: 500px) {
                display: inline-table;
            }
            &:first-child { 
                border-bottom: 2px solid grey;
                padding-bottom: 8px;
                padding-top: 0px;
            }
        }
    }   
    .shipping-info { 
        cursor: pointer;
        padding: 10px 15px;
        text-transform: none;
        font-weight: 400 !important;
        span { 
            float: right;
        }
        >div { 
            margin-top: 2px;
        }
        &.selected { 
            background: white !important;
            color: #090f02 !important;
        }
    }   
    .sub-title { 
        margin-top: 0px;
    }

    .shippingInfo { 
        padding: 5px 0px;
    }
}