
.payment-container {
    .input-clip-path-outside {
        margin-top: 15px !important;
    }
    .two-comlumns-responsive {
        .input-clip-path-outside {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }  
}
.shipping-container { 
    p { 
        padding-bottom: 10px;
    }
}
.page-container {     
    padding: 10px;
    .shipping-info { 
        cursor: pointer;
        padding: 10px 15px;
        text-transform: none;
        font-weight: 400 !important;
        span { 
            float: right;
        }
        >div { 
            margin-top: 2px;
        }
        &.selected { 
            background: white !important;
            color: #090f02 !important;
        }
    }
    .contact-info { 
        padding: 10px 15px;
        text-transform: none;
        font-weight: 400 !important;
        span { 
            padding-left: 10px;
        }
        a { 
            float: right;
            line-height: 18px;
        }
        > div { 
            padding-top: 8px;
            &:first-child { 
                border-bottom: 2px solid grey;
                padding-bottom: 8px;
                padding-top: 0px;
            }
        }
    }        
    .title { 
        font-family: 'Skirmisher';
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    a { 
        font-family: 'Skirmisher';
        color: white;
        padding-left: 10px;
    }        
    span { 
        font-family: 'Bahnschrift' !important;
    }
    .information-submit { 
        margin-top: 20px;
        a { 
            line-height: 43px;
        }
    }
}