.accountInfo { 
    padding: 20px 10px 50px 10px;
    
    .two-comlumns-responsive { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 50px;
        box-sizing: border-box;
    }	
}