@import '../../assets/styles/variables.scss';

.product-component {
    cursor: pointer;
    color: $white;

    &:hover {
        .product-image {
            transform: scale(1.1);
        }
    }
    .info {
        padding-left: 15px;

        .title {
            font-size: 1.125em;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .price {
            margin: 0;
            font-size: 1.125em;
            font-weight: 300;
        }
    }
}