@import '../../assets/styles/variables.scss';

nav {
    position: relative;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .mobile {
        display: none;
        
        .menu-icon-bar {
            width: 30px;
            height: 1px;
            display: block;
            border-radius: 1px;
            background-color: #fff;

            +.menu-icon-bar {
                margin-top: 10px;
            }
        }
        #navigationMobile {
            width: 100%;
            height: calc(100vh - 86px);
            position: fixed;
            top: 86px;
            left: 0;
            overflow: hidden;
            border-top: 1px solid $white;
            background-color: $green;
            z-index: 99999;
        }
        #navigationDropdown {
            display: grid;

            a {
                padding: 20px;
                font-size: 1.25em;
                font-weight: 300;
                color: $white;
                text-decoration: none;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
                border-bottom: 1px solid $white;
            }
            a.active {
                font-weight: 400;
                font-size: 1.375em;
            }
        }
        .navigation-mobile-link {
            position: relative;
            color: #ffffff;
            display: block;
            padding: 0 20px;
            font-weight: 400;
            font-size: 12px;
            border-bottom: 1px solid #F5F5F5;
            text-transform: lowercase;
            -webkit-transition: right .35s ease-in-out .15s;
            -moz-transition: right .35s ease-in-out .15s;
            -ms-transition: right .35s ease-in-out .15s;
            -o-transition: right .35s ease-in-out .15s;
            transition: right .35s ease-in-out .15s;
        }
    }
    .tablet-desktop {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo {
            flex: 1;
            display: flex;
            align-items: center;
    
            .border {
                flex: 1;
                height: 1px;
                background-color: $white;
                opacity: 0.25;
                position: relative;
    
                &::after {
                    content: '';
                    width: 25px;
                    height: 2px;
                    background-color: $green;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
        .page-links {
            display: flex;
            align-items: center;
            
            a {
                font-size: 1.25em;
                font-weight: 300;
                color: $white;
                text-decoration: none;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
    
                &:not(:first-of-type) {
                    margin-left: 26px;
                }
                &.active {
                    top: 1px;
                    font-weight: 400;
                    font-size: 1.375em;
                }
            }
        }
    }
    .cart-display {
        margin-left: 26px;
        position: relative;

        @media (max-width: 500px) {
            margin-left: 10px;
        }

        a {
            display: flex;
        }

        .cart-count {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background-color: $greenBright;
            color: $black;
            font-family: 'Bahnschrift';
            font-size: 0.875em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -12px;
            right: -12px;
        }
    }
}
@media screen and (max-width: $maxMediumScreen) {

}
@media screen and (max-width: $maxSmallScreen) {
    nav {
        padding: 20px 30px;
    }
    .mobile {
        display: block !important;
    }
    .logo, .page-links > a {
        display: none !important;
    }
}