@import './variables.scss';

.about {
    .section-custom-border {
        padding-left: 40px;
        padding-right: 40px;
    }
    h2 {
        letter-spacing: 1.5px;
    }
    li {
        font-family: 'Bahnschrift';
    }  
    .need-help {
        margin-top: 100px;
        text-align: center;
        
        a {
            color: $white;
            text-decoration: none;
            cursor: pointer;
            font-size: 2em;
        }
    }
    @media screen and (max-width: $maxSmallScreen) {
        .section-custom-border {
            padding: 0;
        }
    }
}