@import './variables.scss';

.profile-container { 
    header {
        padding: 15px 0px;
        @media (max-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        a {
            cursor: pointer;
            font-size: 1.5em;
            color: $white;
            user-select: none;
            margin-bottom: 10px;
            
            &[data-enabled="false"] {
                font-weight: 300;
                pointer-events: none;
            }  
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
}

.profile { 
    p { 
        float: left;    
        margin: 10px 0px;
    }    
    .profile-info { 
        width: 420px;
    }    
    .section-custom-border { 
        display: flex;
        justify-content: center;
    }
}