@import './variables.scss';

.account-container { 
    .mobile {
        display: none;

        select {
            font-size: 1.125em;
        }
    }
    header {
        padding: 15px 0px;
        
        a {
            cursor: pointer;
            font-size: 1.5em;
            color: $white;
            user-select: none;
            margin-bottom: 10px;
            
            &[data-enabled="false"] {
                font-weight: 300;
                pointer-events: none;
            }
            &[data-is-active="true"] {
                text-decoration: underline;
            }
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
}
.login, .register { 
    p { 
        float: left;    
        margin: 10px 0px;
    }    
    .account-info { 
        width: 420px;
    }    
    .section-custom-border { 
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: $maxMediumScreen) {
    .account-container {
        .mobile {
            display: block;
        }
        .tablet-desktop {
            display: none;
        }
        form {
            input, .customSelectCountries {
                font-size: 1em;
            }
        }    
    }
}
@media screen and (max-width: $maxXSmallScreen) {
    .two-comlumns-responsive {
        display: block !important;

        .customSelectCountries {
            margin-bottom: 15px;
        }
    }
    .orders {
        overflow-x: auto;

        .orders-table {
            min-width: 500px;
        }
    }
}