@import './variables.scss';

@font-face {
    font-family: 'Bahnschrift';
    src: url('https://storage.googleapis.com/voni-assets/fonts/bahnschrift.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Skirmisher';
    src: url('https://storage.googleapis.com/voni-assets/fonts/skirmisher3dital.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Skirmisher';
    src: url('https://storage.googleapis.com/voni-assets/fonts/skirmishercondital.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Skirmisher';

	p, button, label {
		font-family: 'Bahnschrift';
	}
    .alert-red { 
        color: red;
    }
    .alert-green { 
        color: green;
	}
	button:disabled {
		opacity: 0.3;
		pointer-events: none;
	}
	#root {
		& > div {
			margin: 0;
			padding: 0;
			width: 100%;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			background: $brandGradient;
			background-repeat: no-repeat;
			color: $white;
			position: relative;
			
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				background: url('https://storage.googleapis.com/voni-assets/img/bg-dots.png');
				background-repeat: repeat;
				position: absolute;
				top: 0;
				left: 0;
			}
			.content {
				position: relative;
				flex: 1;
				width: 100%;
				max-width: 1366px;
				margin: 0 auto;
				padding: 20px 44px;
				box-sizing: border-box;
			}
		}
	}
	.page-form {
		margin: 0 auto;
		max-width: 1120px;
		
		.section-custom-border {
			padding-left: 60px;
			padding-right: 60px;
			box-sizing: border-box;
		}
	}
	.page, .page-form {
		a {
			text-decoration: none;
		}
		.page-title {
			font-size: 4em;
			font-weight: 300;
			text-align: center;
		}
		.section-custom-border {
			padding-top: 60px;
			padding-bottom: 60px;
			position: relative;
			box-sizing: border-box;

			&::before, &::after {
				width: 100%;
				height: 30px;
				position: absolute;
				left: 0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			&::before {
				content: '';
				top: 0;
				background-image: url('https://storage.googleapis.com/voni-assets/img/section-custom-border-top.svg');
			}
			&::after {
				content: '';
				bottom: 0;
				background-image: url('https://storage.googleapis.com/voni-assets/img/section-custom-border-bottom.svg');
			}
		}
		  
		.two-comlumns-responsive { 
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 20px;
			row-gap: 50px;
			box-sizing: border-box;
		}		
	}
	footer {
		margin-top: 50px;
		padding: 10px 20px;
		position: relative;
		font-size: 0.8125em;
		font-family: 'Bahnschrift';
		box-sizing: border-box;
		z-index: 0;
		display: flex;	
		align-items: center;
		justify-content: space-between;
		
		.right {
			display: flex;	
			align-items: center;
			justify-content: flex-end;
		}
		.footer-border {
			margin-left: 10px;
			margin-right: 10px;
			width: 1px;
			height: 17px;
			background-color: $white;
			position: relative;
			top: -1px;
		}
		a { 
			cursor: pointer;	
			color: #fafafa !important;
			text-decoration: none;
			
			&:hover { 
				text-decoration: underline;
			}
		}
	}
	@media screen and (max-width: $maxMediumScreen) {
		.page, .page-form {
			.page-title {
				font-size: 2.5em;
			}
		}
	}
	@media screen and (max-width: $maxSmallScreen) {
		#root {
			.content {
				padding: 20px !important;
				
				.page-form {
					.section-custom-border {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
			footer {
				justify-content: center;

				.left {
					text-align: center;
				}
				.right {
					display: none;
				}
			}
		}	
	}
}
