@import './variables.scss';

.cart-container {
    .cart-summary {
        .cart-table {
            margin-top: 50px;
            overflow: auto;
            
            .headers, .cart-items .item {
                padding: 25px 40px;
                display: grid;
                grid-template-columns: auto auto auto auto;
                align-items: center;
                border-bottom: 1px solid $white;
                min-width: 655px;
            }
            .header-name {
                text-align: right;
                text-transform: uppercase;

                &:nth-of-type(1) {
                    min-width: 300px;
                    text-align: left;
                }
                &:nth-of-type(3) {
                    padding-left: 70px;
                }
            }
            .header-name, .item-price, .item-total {
                font-family: 'Bahnschrift';
                font-size: 1.125em;
                text-align: right;
            }
            .cart-items {
                .item {
                    .item-image-name {
                        display: flex;
                        align-items: center;

                        .title-delete {
                            padding-left: 55px;

                            p {
                                font-size: 1.25em;
                            }
                            .remove-item-button {
                                width: 200px;
                                height: 46px;
                                box-shadow: 0px 0px 2px 0px $white inset;
                                transition: box-shadow .15s ease;
                                cursor: pointer;
                                
                                .button-text, .icon {
                                    display: flex;
                                    align-items: center;
                                    background-color: transparent;
                                    transition: background-color .15s ease;
                                }
                                .button-text {
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 25px;
                                    position: relative;
                                    box-sizing: border-box;
                                    
                                    span {
                                        font-family: 'Bahnschrift';
                                        font-size: 1.125em;
                                    }
                                    .icon {
                                        width: 46px;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        box-shadow: 0px 0px 1px 1px $white inset;
                                        user-select: none;
                                        justify-content: center;
                                        transition: box-shadow .15s ease;
                                        
                                        img {
                                            width: 18px;
                                            transition: filter .15s ease;
                                        }
                                    }
                                }
                                &:hover {
                                    box-shadow: 0px 0px 0px 0px $white inset;

                                    .button-text {
                                        background-color: $white;
                                    }
                                    .icon {
                                        border-left: 1px solid $black;
                                    }
                                    span, img {
                                        filter: invert(1);
                                    }
                                }
                            }
                        }
                    }
                    .item-total {
                        text-align: right;
                    }
                    .item-quantity {
                        justify-self: right;
                    }
                }
            }
        }
        .sell-action {
            margin-top: 50px;
            text-align: center;

            p {
                font-size: 1.5em;
            }
            a {
                padding: 15px 20px;
                font-size: 1.25em;
                color: $black;
                background-color: $white;
            }    
        }
    }
    .total {
        margin-top: 35px;
    }
    .cart-actions {
        margin-top: 50px;
    }
    .total, .cart-actions {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total-title {
            font-size: 2.5em;
        }
        .price-text {
            font-size: 2.5em;
            font-weight: 300;
        }
        a {
            padding: 15px 20px;
            font-family: 'Bahnschrift';
            text-transform: uppercase;
            color: $white;
            background-color: $black;
            box-shadow: 0px 0px 1px 1px $white inset;
            transition: all .15s ease;
            
            &.checkout {
                color: $black;
                background-color: $white;
            }
            &:hover {
                color: $black;
                background-color: $white;

                &.checkout {
                    color: $white;
                    background-color: $black;
                }
            }
        }    
    }
    @media screen and (max-width: $maxXSmallScreen) {
        .headers, .cart-items .item {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
        .total {
            padding-left: 10px !important;
            padding-right: 10px !important;

            .total-title {
                font-size: 2em;

                span {
                    display: none;
                }
            }
            .price-text {
                font-size: 2em;
            }
        }
        .cart-actions {
            padding-left: 10px !important;
            padding-right: 10px !important;
            display: block;
            
            a {
                display: block;
                text-align: center;

                &:not(:first-of-type) {
                    margin-top: 20px;
                }
            }
        }
    }
}