@import './variables.scss';

.checkout-container {
    display: grid;
    grid-template-columns: 50% 50%;

    .checkout-side {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .forms {
        padding-right: 45px;
        border-right: 1px solid $white;
        
        header {
            a {
                font-size: 1.5em;
                color: $white;
                user-select: none;
                
                &[data-enabled="false"] {
                    font-weight: 300;
                    pointer-events: none;
                }  
                &:not(:last-of-type) {
                    margin-right: 30px;
                }
            }
        }
    }
    .summary {
        padding-left: 45px;

        .summary-section {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 15px;

            &:not(:first-of-type) {
                padding-top: 15px;
            }
            &:not(:last-of-type) {
                border-bottom: 1px solid $white;
            }
            p {
                margin: 0;
                line-height: 2;
                text-transform: uppercase;
            }
            & > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .page-container { 
        margin-top: 30px;
        padding: 10px;
        .input-clip-path-outside { 
            -webkit-clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0px 8px);
            clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0px 8px);
            text-transform: uppercase;
            background-color: grey;
            padding: 0;
            margin-top: 0px;
            margin-bottom: 15px;
        }
        .input-clip-path-inside { 
            -webkit-clip-path: polygon(9px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 9px), calc(100% - 9px) calc(100% - 1px), 1px calc(100% - 1px), 1px 9px);
            clip-path: polygon(9px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 9px), calc(100% - 9px) calc(100% - 1px), 1px calc(100% - 1px), 1px 9px);
            background: #090f02;
            background-repeat: no-repeat;
            outline: none;
            border: none;
            color: white;
            font-weight: 600;
            position: relative;
            font-family: 'Bahnschrift' !important;
            margin: 0;
            vertical-align: bottom;
            &::before { 
                content: '';
                width: 100%;
                height: 100%;
                background: url(https://storage.googleapis.com/voni-assets/img/bg-dots.png);
                background-repeat: repeat;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .button-clip-path-outside {            
            -webkit-clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0px 8px);
            clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0px 8px);
            text-transform: uppercase;
            color: #000;
            background-color: #fafafa;
            padding: 0;
            float: right;
        }
        .button-clip-path-inside { 
            -webkit-clip-path: polygon(9px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 9px), calc(100% - 9px) calc(100% - 1px), 1px calc(100% - 1px), 1px 9px);
            clip-path: polygon(9px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 9px), calc(100% - 9px) calc(100% - 1px), 1px calc(100% - 1px), 1px 9px);
            padding: 12px 40px;            
            font-family: 'Bahnschrift';
            text-transform: uppercase;
            color: #000;
            cursor: pointer;
            background-color: #fafafa;
            outline: none;
            border: none;
            font-size: 1em;
            &:hover {
                color: #fafafa;
                background-color: black;
            }
        }
        .title { 
            font-family: 'Skirmisher';
            font-size: 1.5em;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        input { 
            width: calc(100% - 30px);
            padding: 10px 15px 8px 15px;
        }
        a { 
            font-family: 'Skirmisher';
            color: white;
            padding-left: 10px;
        }        
        span { 
            font-family: 'Bahnschrift' !important;
        }
        .information-submit { 
            margin-top: 20px;
            a { 
                line-height: 43px;
            }
        }
    }
    .two-comlumns-responsive { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 50px;
        box-sizing: border-box;
    }
}