@import './variables.scss';

.checkout-container {
    display: grid;
    grid-template-columns: 50% 50%;

    .checkout-side {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .forms {
        padding-right: 45px;
        border-right: 1px solid $white;
        
        header {
            a {
                font-size: 1.5em;
                color: $white;
                user-select: none;
                
                &[data-enabled="false"] {
                    font-weight: 300;
                    pointer-events: none;
                }  
                &:not(:last-of-type) {
                    margin-right: 30px;
                }
            }
        }
    }
    .summary {
        padding-left: 45px;

        .summary-section {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 15px;

            &:not(:first-of-type) {
                padding-top: 15px;
            }
            &:not(:last-of-type) {
                border-bottom: 1px solid $white;
            }
            p {
                margin: 0;
                line-height: 2;
                text-transform: uppercase;
            }
            & > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}