@import './variables.scss';

.contact { 
    .contact-blurb {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        row-gap: 50px;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }          
    .contact-form { 
        .contact-info { 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
            row-gap: 50px;
            box-sizing: border-box;
            margin-top: 20px;
        }
        & > div { 
            margin-top: 10px;
        }
        textarea { 
            height: 60px;
        }        
    }
    .contact-information { 

        & > div {
            margin-top: 15px;
        }
        .info-title { 
            font-size: 1.2em;
        }
        .info-description {
            font-size: 1em;

            a {
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
                &:not(:first-of-type) {
                    margin-left: 20px;
                    position: relative;

                    &::before {
                        content: '';
                        width: 1px;
                        height: 17px;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        left: -10px;
                    }
                }
            }
        }
        p {
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }
    @media screen and (max-width: $maxMediumScreen) {
        .contact-blurb {
            padding-bottom: 110px !important;
            display: block;
        }
        .contact-info {
            margin-top: 0 !important;
            display: block !important;
        }
        .contact-information {
            display: none;    
        }
    }
}