@import './variables.scss';

.home {
    .welcome {
        margin-top: 30px;
        // display: grid;
        // grid-template-columns: 35% 65%;
        // column-gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .model-roll {
            width: 400px;
            height: 580px;
            background-image: url('https://storage.googleapis.com/voni-assets/img/model-frame.svg');
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;

            img {
                width: 80%;
                position: relative;
            }
        }
        .welcome-message {
            // margin-left: 50px;
            margin-left: -10px; // temporary
            text-align: center;

            h1 {
                font-size: 6.5vw;
                margin: 0;

                span {
                    font-weight: 300;
                }
            }
            p {
                font-size: 1.125em;
                line-height: 1.4375;
                margin-bottom: 50px;
            }
            a {
                margin-left: -10px; // temporary
                font-size: 2.5em;
                font-weight: 300;
                color: $white;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .lookbook {
        // margin-top: 200px;
        margin-top: 300px; // temporary
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
            content: 'lookbook';
            position: absolute;
            top: -180px;
            left: -15px;
            left: 50%;
            font-size: 19vw;
            -webkit-text-stroke: 1px $white;
            -webkit-text-fill-color: transparent;
            transform: translateX(-50%);
            opacity: 0.15;
        }
        .video-wrapper {
            .video {
                padding: 36px 6px;
                position: relative;
                overflow: visible;

                .border {
                    position: absolute;
                    top: 130px;
                    left: -115px;
                    transform: rotate(90deg);
                    transform-origin: center;
                }
                .video-overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &[data-playing="true"] {
                        display: none;
                    }
                }
            }
        }
        .pdf-wrapper {
            margin-left: 50px;
            a {
                color: $white;
                text-decoration: none;
            }
            h1 {
                margin: 0;
                font-size: 8vw;
                font-weight: 300;
            }
            h3 {
                margin: 0;
                font-size: 5vw;
            }
        }
    }
    .featured-items {
        margin-top: 150px;
        
        h2 {
            margin-bottom: 75px;
            font-weight: 300;
            font-size: 3.0625em;
            text-align: center;
        }
        .item-grid {
            padding-top: 75px;
            padding-bottom: 75px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 40px;
            row-gap: 50px;
            box-sizing: border-box;
        }
    }
    @media screen and (max-width: $maxMediumScreen) {
        .featured-items {
            .item-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @media screen and (max-width: $maxSmallScreen) {
        .welcome {
            display: block;
            
            .model-roll {
                display: none;
            }
            .welcome-message {
                margin-left: 0;
                text-align: center;

                h1 {
                    font-size: 3em;
                    position: relative;
                    left: -10px;
                }
                p {
                    br {
                        display: none;
                    }
                }
                a {
                    position: relative;
                    left: -10px;
                }
            }
        }
        .lookbook {
            margin-top: 50px;
            display: block;
            
            &::before {
                display: none;
            }
            .video-wrapper {
                padding-bottom: 630px;

                .video {
                    padding-left: 0;
                    padding-right: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    .border {
                        left: 50%;
                        transform: translateX(-50%) rotate(90deg);
                    }
                }
            }
            .pdf-wrapper {
                margin-left: 0;
                text-align: center;

                h1 {
                    font-size: 3em;
                }
                h3 {
                    font-size: 2em;
                    position: relative;
                    left: -8px;
                }
            }
        }
    }
    @media screen and (max-width: $maxXSmallScreen) {
        .featured-items {
            .item-grid {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}