@import './variables.scss'; 

.privacy-and-policy { 
    h3 { 
        font-weight: 400;
    }   
    ul{ 
        font-weight: 400;
        margin: 5px 0px;
        font-family: 'Bahnschrift';
    }    
    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    span { 
        margin: 5px 0px;
        font-family: 'Bahnschrift';
    }
    .font-bold { 
        font-weight: 600;
    }
    .font-large { 
        font-weight: 600;
        font-size: 1.25em;
    }
    p { 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    a { 
        text-decoration: none;
        color: white;
        font-weight: 400;
        &:hover { 
            text-decoration: underline;
        }
    }
}