@import './variables.scss';

.single-product {
    display: grid;
    grid-template-columns: 500px auto;
    column-gap: 50px;

    .images {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;

        .enlarged, .previews {
            height: 450px;
        }
        .enlarged .visual {
            height: 100%;
        }
        .preview-wrapper {
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
    .details {
        .product-title {
            margin-bottom: 0;
            font-size: 3em;
        }
        .product-price {
            margin: 0;
            font-size: 3em;
        }
        .product-options {
            .product-option-row {
                margin-top: 20px;
                display: flex;
                align-items: center;
    
                span {
                    font-family: 'Bahnschrift';
                    font-size: 1.25em;
                    margin-right: 15px;
                }
                .option {
                    padding: 12px;
                    border: 1px solid $white;
                    font-family: 'Bahnschrift';
                    font-size: 1.125em;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    background: none;
                    transition: 0.08s ease-in;
                    z-index: 1;
    
                    &:not(:last-of-type) {
                        margin-right: 16px;
                    }
                    &:hover, &.active {
                        color: $black;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        background: $white;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        top: 100%;
                        z-index: -1;
                        transition: top 0.09s ease-in;
                    }
                    &:hover::before, &.active::before {
                        top: 0;
                    }
                }
            }
        }
        .product-actions {
            margin-top: 20px;
            display: flex;
            align-items: flex-start;

            & > *:not(:last-child) {
                margin-right: 4vw;
                margin-bottom: 20px;
            }
            .quantity {
                display: flex;
                align-items: center;

                & > span {
                    font-family: 'Bahnschrift';
                    font-size: 1.25em;
                    margin-right: 15px;
                }
            }
            .add-to-cart > div {
                display: flex;
                align-items: center;
                font-family: 'Bahnschrift';
                font-size: 1.125em;
                cursor: pointer;

                img {
                    margin-left: 10px;
                }
            }
        }
        .product-desc {
            margin-top: 50px;

            p {
                font-size: 1.0625em;
                line-height: 1.5;
                letter-spacing: 0.5px;
            }
        }
    }
    @media screen and (max-width: $maxMediumScreen) {
        grid-template-columns: 0.5fr 1fr;
    }
    @media screen and (max-width: $maxXSmallScreen) {
        display: block;

        .images {
            display: block;
            
            .enlarged {
                height: 350px;    
            }
            .previews {
                display: none;
            }
        }
        .details {
            .product-title, .product-price {
                font-size: 2em;
            }
            .product-actions {
                display: block;
            }
        }
    }
}